<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pighouseinfo</key>
	<array>
		<string>新增栋舍</string>
	</array>
	<key>pigbatch</key>
	<array>
		<string>保育</string>
		<string>育肥</string>
		<string>育成</string>
		<string>产房</string>
	</array>
	<key>week</key>
	<array>
		<string>不限</string>
		<string>星期一</string>
		<string>星期二</string>
		<string>星期三</string>
		<string>星期四</string>
		<string>星期五</string>
		<string>星期六</string>
		<string>星期日</string>
	</array>
	<key>gender</key>
	<array>
		<string>母猪</string>
		<string>公猪</string>
	</array>
	<key>pigkind</key>
	<array>
		<string>D（杜洛克）</string>
		<string>Y（大约克）</string>
		<string>L（长白）</string>
		<string>YL（大长）</string>
		<string>LY（长大）</string>
		<string>QT（其他）</string>
	</array>
	<key>piggroup</key>
	<array>
		<string>后备</string>
		<string>基础群</string>
	</array>
	<key>pighouse</key>
	<array>
		<string>新增栋舍</string>
		<string>后备HB01栋</string>
		<string>配怀1栋</string>
		<string>分娩FM01栋</string>
		<string>分娩FM03栋</string>
		<string>分娩FM04栋</string>
		<string>分娩FM05栋</string>
		<string>分娩FM06栋</string>
		<string>种猪舍</string>
	</array>
	<key>piginfo</key>
	<array>
		<string>全部（615）</string>
		<string>怀孕（478）</string>
		<string>哺乳（97）</string>
		<string>断奶空怀（25）</string>
		<string>返情空怀（0）</string>
		<string>B超鉴定空杯（0）</string>
		<string>流产空怀（0）</string>
		<string>后备母猪（4）</string>
		<string>后备猪第一次发情（0）</string>
		<string>后备猪第二次发情（0）</string>
		<string>公猪（11）</string>
		<string>已离场种猪</string>
	</array>
	<key>breedingpiginfo</key>
	<array>
		<string>全部（615）</string>
		<string>怀孕（478）</string>
		<string>哺乳（97）</string>
		<string>断奶空怀（25）</string>
		<string>返情空怀（0）</string>
		<string>B超鉴定空杯（0）</string>
		<string>流产空怀（0）</string>
		<string>后备母猪（4）</string>
		<string>后备猪第一次发情（0）</string>
		<string>后备猪第二次发情（0）</string>
		<string>公猪（11）</string>
		<string>已离场种猪</string>
	</array>
</dict>
</plist>
